    body {
    font-family: Arial, sans-serif;
    padding: 20px;
    }

    .todo-list {
    list-style-type: none;
    padding: 0;
    }

    .sub-item-link {
    text-decoration: none;
    color: pink; }

    .sub-item-link:visited {
    color: purple;
    }

    .sub-item-link:hover {
    color: green;
    }

    .sub-item-link:focus {
    outline: 2px solid orange;
    }

    .sub-item-link:active {
    color: red;
    }
