body {
    padding: 50px 0;
    margin: 0 auto;
    width: 80vw;
    min-height: calc(100vh - 100px);
    font-family: Arial, sans-serif;
    text-align: center;
    }

section {
    width: 80%;
    margin: 30px auto;
    }

hr {
    width: 70%;
    margin: 40px auto;
    }
