    span {
    display: inline-block;
    }

    tr[class="read"] {
    background-image: linear-gradient(to right, #d4fc79, #96e6a1);
    }

    tr[class="to-read"] {
    background-image: linear-gradient(to right, #fddb92, #d1fdff);
    }

    tr[class="in-progress"] {
    background-image: linear-gradient(to right, #a1c4fd, #c2e9fb);
    }

    tr[class="read"] span[class="status"] {
    border: 2px solid #2f855a;
    background-image: linear-gradient(to right, #68d391, #9ae6b4);
    }

    tr[class="to-read"] span[class="status"] {
    border: 2px solid #b7791f;
    background-image: linear-gradient(to right, #f6ad55, #fbd38d);
    }

    tr[class="in-progress"] span[class="status"] {
    border: 2px solid #2b6cb0;
    background-image: linear-gradient(to right, #63b3ed, #90cdf4);
    }

    span[class="status"],
    span[class^="rate"] {
    height: 2rem;
    width: 6rem;
    padding: 0.25rem;
    }

    span[class^="rate"] > span {
    border: 1px solid #333;
    border-radius: 50%;
    margin: 0 2px;
    height: 0.75rem;
    width: 0.75rem;
    background-color: #e2e8f0;
    }

    span[class~="one"] span:first-of-type {
    background-image: linear-gradient(to right, #38bdf8, #0ea5e9);
    }

    span[class~="two"] span:nth-child(-n+2) {
    background-image: linear-gradient(to right, #22c55e, #16a34a);
    }

    span[class~="three"] span {
    background-image: linear-gradient(to right, #a855f7, #7c3aed);
    }