    #playing-cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px;
    }

    .card{
    width: 150px;
    height: 220px;
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    }

    .left{
    align-self: flex-start;
    }

    .middle{
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 60px;
    }

    .right {
    align-self: flex-end;
    transform: rotate(180deg);
    }

    .red-card {
    color: red;
    }